<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse" id=nabvbarsupportcontent>
            <ul class="navbar-nav me-auto mb1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"routerLink="/addtask">AddTask</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/showtask">ShowTask</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/editTask">editTask</a>
                </li>
            </ul>


        </div>
    </div>



</nav>