.list-group{
    border: solid 1px;
    height: 500px;
    text-align: center;

}
h2{
    text-align: center;
    border: solid;
    border: solid 1px;
    padding: 40px;
    color: white;
    background-color: black;
}